<?xml version="1.0" encoding="utf-8"?>
<robot name="piper_x_description">

  <link
    name="arm_base">
    <inertial>
      <origin
        xyz="-0.0126041939829763 5.54378915355708E-05 0.03490295880934"
        rpy="0 0 0" />
      <mass
        value="0.15430453053243" />
      <inertia
        ixx="0.000209963861841718"
        ixy="1.93888314194294E-07"
        ixz="5.66013268562016E-06"
        iyy="0.000252411729641135"
        iyz="1.82532574898688E-07"
        izz="0.000217052419209593" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="0.000925732875974177 -0.00862849095155749 -0.000485470942380176"
        rpy="0 0 0" />
      <mass
        value="0.105313818325577" />
      <inertia
        ixx="8.08851684199226E-05"
        ixy="4.48968566614888E-07"
        ixz="-9.75082852544931E-08"
        iyy="8.12302747286035E-05"
        iyz="-3.08260544320402E-06"
        izz="6.54796006846558E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="-0.00235357845905044 0.000777928765553683 0.119"
      rpy="1.5707963267949 0 0" />
    <parent
      link="arm_base" />
    <child
      link="link1" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-2.618"
      upper="2.618"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="-0.17904 0.0097492 -0.001744"
        rpy="0 0 0" />
      <mass
        value="0.30648" />
      <inertia
        ixx="0.00029347"
        ixy="0.00012107"
        ixz="-2.1475E-06"
        iyy="0.0017456"
        iyz="1.2555E-06"
        izz="0.0016867" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="3.14"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="0.16199 -0.035535 -0.00079759"
        rpy="0 0 0" />
      <mass
        value="0.16677" />
      <inertia
        ixx="5.7648E-05"
        ixy="3.2988E-05"
        ixz="-7.1843E-07"
        iyy="0.00029356"
        iyz="5.2332E-07"
        izz="0.00031856" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="-0.2828 0.035596 0"
      rpy="3.1416 0 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.9671"
      upper="0"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="-0.041038 -0.0012729 0.042023"
        rpy="0 0 0" />
      <mass
        value="0.10451" />
      <inertia
        ixx="9.3394E-05"
        ixy="1.9372E-05"
        ixz="3.9688E-05"
        iyy="0.00015664"
        iyz="-1.4432E-05"
        izz="0.00013616" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0.2693 -0.048542 -0.0042488"
      rpy="1.5708 0 1.5708" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="-0.15319 0 0.9882" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="0.012394 0.00014247 -0.010422"
        rpy="0 0 0" />
      <mass
        value="0.053458" />
      <inertia
        ixx="3.445E-05"
        ixy="1.3302E-07"
        ixz="-4.2275E-06"
        iyy="3.1611E-05"
        iyz="-6.5037E-08"
        izz="2.5657E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="-0.0071013 0.0034704 0.072275"
      rpy="0 -1.4729 -3.1416" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="0.00034286 -4.9015E-15 -0.0034905"
        rpy="0 0 0" />
      <mass
        value="0.0061311" />
      <inertia
        ixx="5.2128E-07"
        ixy="1.4459E-23"
        ixz="-4.5385E-08"
        iyy="5.1682E-07"
        iyz="-2.4915E-23"
        izz="9.7886E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0.008 -0.002 0"
        rpy="-1.57 0 1.57" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/camera_v3.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.008 -0.002 0"
        rpy="-1.57 0 1.57" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/camera_v3.dae" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0.0393 0 0"
      rpy="0 -1.57 3.1416" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0.097757 0 -0.99521" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="10" />
  </joint>

    <link name="link7">
        <inertial>
        <origin
            xyz="-0.000277778383727112 -0.0467673043650824 -0.00921029491873201"
            rpy="0 0 0" />
        <mass value="0.02648229234527" />
        <inertia
            ixx="9.99787479924589E-06"
            ixy="-1.57548495096104E-07"
            ixz="-2.71342775003487E-08"
            iyy="6.1795212293655E-06"
            iyz="-1.58939803580081E-06"
            izz="1.42102717246564E-05" />
        </inertial>
        <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <mesh filename="package://piper_description/meshes/dae/link7.dae" />
        </geometry>
        <material name="">
            <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
        </material>
        </visual>
        <collision>
        <origin xyz="-0.001 0 0.0003" rpy="0 3.14 0" />
        <geometry>
            <mesh filename="package://piper_description/meshes/link7.STL" />
        </geometry>
        </collision>
    </link>
    <joint name="joint7" type="prismatic">
        <origin xyz="0 0 0.13503" rpy="1.5708 0 1.5708" />
        <parent link="link6" />
        <child link="link7" />
        <axis xyz="0 0 -1" />
        <limit lower="0" upper="0.05" effort="10" velocity="1" />
    </joint>

    <link name="link8">
        <inertial>
        <origin
            xyz="0.000277816920932317 0.0467673824063769 -0.00921030054508036"
            rpy="0 0 0" />
        <mass value="0.0264822021416248" />
        <inertia
            ixx="9.99779119357223E-06"
            ixy="-1.57542283433504E-07"
            ixz="2.71367446701359E-08"
            iyy="6.17952441557932E-06"
            iyz="1.58939319453383E-06"
            izz="1.4210192754512E-05" />
        </inertial>
        <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <mesh filename="package://piper_description/meshes/dae/link8.dae" />
        </geometry>
        <material name="">
            <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
        </material>
        </visual>
        <collision>
        <origin xyz="-0.001 0 0.0003" rpy="3.14 0 0" />
        <geometry>
            <mesh filename="package://piper_description/meshes/link8.STL" />
        </geometry>
        </collision>
    </link>
    <joint name="joint8" type="prismatic">
        <origin xyz="0 0 0.13503" rpy="-1.5708 0 1.5708" />
        <parent link="link6" />
        <child link="link8" />
        <axis xyz="0 0 1" />
        <limit lower="-0.05" upper="0" effort="10" velocity="1" />
    </joint>


</robot>